* {
    box-sizing: border-box;
}
html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
    font-family: 'Lato', sans-serif;
    min-height: 100%;
}
.container {
    background-color: whitesmoke ;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    min-height: 100%;
    position: relative;
}
.footerstyle{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    text-align: center;
}
.headerstyle{
    padding: 0.5rem;
    background: whitesmoke;
    text-align: center;
    height: 10rem;
}
.layout {
    padding: 100px 0;
    text-align: center;
}
.top {
    max-width: 800px;
    margin: auto;
    background-color: whitesmoke;
    color: white;
    width: 80%;
    border-radius: 10px;
    padding: 30px;
}
.margin{
    margin: 10px;
}
a {
    text-decoration: none;
}
.menu {
    margin: 10px;
    padding-bottom: 10px;
}
.btn-outline-success{
    margin: 10px;
}
.table {
    width: 90%;
    margin: auto;
}
.form-check form-switch{
  position: center;
}